<!-- Contenedor para añadir aficiones -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Añade tus Aficiones</h2>
    <form id="aficionesForm">
        <div id="aficionesCheckboxContainer" class="row">
            <!-- Aquí se mostrarán las aficiones con checkbox dinámicamente -->
        </div>
        <button type="button" id="guardarAficionesButton" class="btn btn-primary mt-3">Guardar aficiones seleccionadas</button>
    </form>
    <div id="mensajeAficiones" class="mt-3"></div>
</div>