<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary link-body-emphasis" data-view="views/inicio.html">Inicio</a></li>
                <!-- Desplegable para Búsqueda -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle px-2 link-secondary" id="busquedaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Búsqueda
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="busquedaDropdown">
                        <li><a href="#" class="nav-link dropdown-item" data-view="views/busqueda.html">Búscar por afición</a></li>
                        <li><a href="#" class="nav-link dropdown-item" data-view="views/geolocalizacion.html">Geolocalización</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 link-secondary" data-view="views/modificarPerfil.html">Modificar perfil</a></li>
                <!-- Desplegable para Aficiones -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle px-2 link-secondary" id="aficionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Aficiones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aficionesDropdown">
                        <li><a href="#" class="nav-link dropdown-item" data-view="views/verAficiones.html">Ver</a></li>
                        <li><a href="#" class="nav-link dropdown-item" data-view="views/añadirAficiones.html">Añadir</a></li>
                        <li><a href="#" class="nav-link dropdown-item" data-view="views/eliminarAficiones.html">Eliminar</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 link-secondary" data-view="views/verLikes.html">Ver likes</a></li>
            </ul>

            <div class="text-end d-flex align-items-center">
                <!-- Mensaje de bienvenida -->
                <span id="welcomeMessage" class="text-body"></span>
                <p>&nbsp;</p>
                <!-- Foto de usuario en formato base64 -->
                <img id="userPhoto" src="" alt="Foto de perfil" class="rounded-circle" width="40" height="40" style="object-fit: cover; margin-right: 10px;">
                <button id="logoutButton" class="btn btn-outline-danger">Logout</button>
            </div>
        </div>
    </div>
</header>
